main {
  padding: 20px 0;
}

.group {
	display: flex;
	flex-direction: column;
}

.item {
	flex: 2;
	margin: 10px;
}

@media all and (min-width: 800px) {
	section {
		padding: 0 10%;
	}
	.group {
		flex-direction: row;
	}
}


form {
	padding-right: 6px;
}

form input,
form textarea {
	width: 100%;
	margin-bottom: 20px;
}
form textarea {
	height: 160px;
}